.root {
    -fx-background-image: url("bg0.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: #c3ffff;
}

.gridpane {
    -fx-background-color: #ffce93;
}

.toggle-button {
    -fx-background-color: #109fff;
} .toggle-button:toggled {
    -fx-background-color: #0055ff;
    -fx-text-fill: white;
}

.building .button {
    -fx-background-color: rgba(0, 255, 255, 0.7);
} .building:hover .button {
    -fx-background-color: #0ff;
}

#coinButton {
    -fx-background-color: #ffd700;
    -fx-border-color: #fff045;
    -fx-border-width: 2px;
}

#removeButton {
    -fx-background-color: #ff694b;
} #removeButton:toggled {
    -fx-background-color: red;
}
